
@media screen and (max-width:600px) {

    
    .adjust{
        

        margin-left: 90px;
           
    }
    .Hideoverview{

        display: none;
    }
    .hidecards{

        display: none;
    }
    .move{

        padding-right: 27px;
    }
    .movileview{

        margin-bottom: 100px;
    }
    
    
 

}

.icons:hover{

    cursor: pointer;
}

.movileview{

    padding-bottom: 285px;
}

.icons{

    height: 40px;
    width: 40px;

    
}

.overallicons{

    padding-left: 80px;

}
